/* Resolução de exercícios do Grid Garden */

/* Exercício 01 */ 
  #water {
  grid-column-start: 3;
  }

  /* Exercício 02 */
  #poison {
  grid-column-start:5;
  }

  /* Exercício 03 */
  #water {
    grid-column-start: 1;
  grid-column-end: 4;
  }

  /* Exercício 04 */
  #water {
    grid-column-start: 5;
  grid-column-end:2;
  }

  /* Exercício 05 */
  #water {
    grid-column-start: 1;
    grid-column-end: -2;
  }

  /* Exercício 06 */ 
  #poison {
    grid-column-start: -3;
  }

  /* Exercício 07 */
  #water {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  /* Exercício 08 */
  #water {
    grid-column-start: 1;
    grid-column-end: span 5;
  }

  /* Exercício 09 */
  #water {
    grid-column-start: span 3;
    grid-column-end: 6;
  }

  /* Exercício 10 */
  #water {
    grid-column: 6 / 4;
  }

  /* Exercício 11 */
  #water {
    grid-column: span 3 / 5;
  }

  /* Exercício 12 */
  #water {
    grid-row-start:3;
    }

  /* Exercício 13 */
  #water {
    grid-row: 3 / 6;
    }

  /* Exercício 14 */
  #poison {
    grid-column: 2;
    grid-row: 5;
    }

  /* Exercício 15 */
  #agua {
    grid-column: 2 / 6 ;
    grid-row: 1 / 6
    }

  /* Exercício 16 */
  #water {
    grid-area: 1 / 2 / 4 / 6;
    }

  /* Exercício 17 */
  #water-2 {
  grid-area: 2 / 3 / 5 /6;
  }

  /* Exercício 18 */
  #poison {
    order: 1;
    }
  
  /* Exercício 19 */
  .poison {
    order: -1;
    }

  /* Exercício 20 */
  #garden {
    display: grid;
    grid-template-columns: 50%; /*resposta*/
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Exercício 21 */
  #garden {
    display: grid;
    grid-template-columns: repeat(8, 12.5%); /*resposta*/
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Exercício 22 */
  #garden {
    display: grid;
    grid-template-columns: 100px 3em 40%; /*resposta*/
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Exercício 23 */
  #garden {
    display: grid;
    grid-template-columns: 1fr 5fr; /*resposta*/
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Exercício 24 */
  #garden {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px; /*resposta*/
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Exercício 25 */
  #garden {
    display: grid;
    grid-template-columns: 75px 3fr 2fr; /*resposta*/
    grid-template-rows: 100%;
  }

  /* Exercício 26 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 0% 0% 0%; /*resposta*/
  }

  /* Exercício 27 */
  #garden {
    display: grid;
    grid-template: 60% 60% / 200px; 
  }

  /* Exercício 28 */
  #garden {
    display: grid;
    grid-template: 1fr 50px / 1fr 4fr
  }