/* Exercício 01 */
#pond {
    display: flex;
    justify-content: flex-end;
  }

/* Exercício 02 */
#pond {
    display: flex;
    justify-content: center;
  }

/* Exercício 03 */
#pond {
    display: flex;
    justify-content: space-around
  }

/* Exercício 04 */
#pond {
    display: flex;
     justify-content: space-between;
  }

/* Exercício 05 */
#pond {
    display: flex;
    align-items: flex-end;
  }

/* Exercício 06 */
#pond {
    display: flex;
     justify-content: center;
    align-items: center;
  }

/* Exercício 07 */
#pond {
    display: flex;
    justify-content: space-around;
     align-items: flex-end;
  }

/* Exercício 08 */
#pond {
    display: flex;
    flex-direction: row-reverse
  }

/* Exercício 09 */
#pond {
    display: flex;
    flex-direction: column;
  }

/* Exercício 10 */
#pond {
    display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  }

/* Exercício 11 */
#pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

/* Exercício 12 */
#pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

/* Exercício 13 */
#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
  }

/* Exercício 14 */

  .yellow {
  order: 3
  } /*resposta*/

/* Exercício 15 */
  
  .red {
  order: -3 /* resposta */
  }

/* Exercício 16 */
.yellow {
    align-self: flex-end
    }

/* Exercício 17 */
.yellow {
    order: 3;
    align-self: flex-end;
    }

/* Exercício 18 */
#pond {
    display: flex;
    flex-wrap: wrap;
  }

/* Exercício 19 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

/* Exercício 20 */
#pond {
    display: flex;
    flex-flow: column wrap;
  }

/* Exercício 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

/* Exercício 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-end;
  }

/* Exercício 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }

/* Exercício 24 */
#pond {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: space-between;
  }

