

html {
    --light-grey: #d8d9dc;
    --light: #f2f2f2;
    --blue: #72a2c8;
    --dark-blue: #398DCF;
    --grey: #bebfc0;
    --dark-grey: #b2b4b7;
    --color-result: #9a9a9a;
}

body {
    background-color: var(--grey);
}
