html {
    overflow: hidden;   
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

button {
    font-family: 'Roboto', sans-serif;
}

/* ----- calculadora -----*/
#calculator {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    font-size: 1rem;;
}

/* ----- campo resultado operações ----- */

#operations {
    width: 100%;
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    text-align: right;
}

.previous-operation{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    color: var(--color-result);
}

.current-operation{
    font-size: 3.2rem;
    font-weight: bold;
    overflow-wrap: break-word;
}

/* ----- botões ------*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 3.87rem;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 3.3rem;
}

.btn-number {
    font-weight: 500;
}

.btn:hover {
    background-color: var(--dark-grey);
}

.color-operations {
    background-color: var(--light-grey);
}

.btn-equal {
    border: none;
    cursor: pointer;
    background-color: var(--blue);
}

.btn-equal:hover{
    background-color: var(--dark-blue);
}

